# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Бот
bot_users.db
.env
*.db
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log

# Railway
.DS_Store
